* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  margin: 0;
  font-family: Manrope , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue);
}
#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  max-width: 400Px;
  border-radius: 10px;
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20Px;
  background-color: var(--dark-grayish-blue);
  position: relative;
  padding-bottom: 50Px;

}

.App p{
  color:var(--neon-green);
}

.App h1{
  color:white;
  text-align: center;
}

.App #divider{
  width:100%;
}

.App button{
  padding: 12px;
  border-radius: 50%;
  background-color: var(--neon-green);
  display: grid;
  place-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  bottom: -20px;
  transition: all .2s ease-in;
}

button:hover{
  box-shadow: 0px 0px 30px 0px var(--neon-green);
}

p.error{
  color:rgba(209, 18, 18, 0.726);
}

.loading-message{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}

.spinner{
  border:4px solid  var(--dark-blue);
  border-left-color: var(--neon-green);
  border-radius: 50%;
  height: 40px;
  width:40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}


@media (max-width:768px){
  body{
    padding: 20px;
    
  }
}